body {
    margin: 0;
    background-color: #eee;
    font-family: 'Ubuntu', sans-serif;
}

.calculator-header {
    text-align: center;
    background-color: teal;
    color: #eee;
    padding: 10px;
    margin-bottom: 25px;
}

.calculator-body {
    border: 5px solid black;
    background-color: #ddd;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.calculator-grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.calculator-screen {
    display: grid;
    margin-bottom: 10px;
}

.calculator-top-display,
.calculator-bottom-display {
    height: 36px;
    text-align: right;
    font-size: 25px;
    border: none;
    border-left: 2px solid black;
    border-right: 2px solid black;
    padding-right: 10px;
}

.calculator-top-display {
    border-top: 2px solid black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.calculator-bottom-display {
    border-bottom: 2px solid black;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.clear {
    grid-column: span 4;
}

.calculator-button,
.operator-button,
.equals-button,
.clear {
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    font-size: 25px;
}

.calculator-button:hover,
.operator-button:hover,
.equals-button:hover,
.clear:hover {
    background-color: teal;
    color: #eee;
}

.calculator-button:active,
.operator-button:active,
.equals-button:active,
.clear:active {
    background-color: black;
    color: #ddd;
}